@import 'reset.css';
@import 'typo.css';
@import 'global.css';



article > img {border:none !important;}
article a:hover, article a:visited:hover{color: #FC0}
.post article h1, .post article h2, .post article h3, .post article h4, .post article h5, .post article h6{margin:10px 0; padding:0; font-weight:normal; line-height:1em}

#home section.post{padding:0;}
#home section.post img{margin:0;}

#home article{
	width:180px;
	float:left;
	padding:0 20px;
	font-size:12px;
	line-height:14px;
	border-right:1px dotted #CCC;
}

#home article:last-child{border-right:none;}

div.orbit-wrapper{box-shadow:0 5px 20px #CCC;}