<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata-corp" }}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>  
</head>
<body>
    {{ integration:analytics }}
    
    <div id="header">
    	<div class="wrapper">
        	{{ theme:partial name="header" }}
        </div>
    </div> 
    
    <div id="main">
    	<div class="wrapper">
        	{{ theme:partial name="content-corp" }}
        </div>
    </div> 
    
    <div id="footer" style="background:#0c223f;">
        <p id="copy" style="text-align:center; padding-top:10px; font-size:11px; color:rgba(255,255,255,.25); border-top:1px solid rgba(255,255,255,.1);">&copy;{{ helper:date format="Y" }} {{ settings:site_name }}. {{ helper:lang line="all_right_reserved" }} <a class="last" href="{{ url:current }}#top" title="{{ helper:lang line="back_to_top" }}">{{ helper:lang line="top_page" }} &uarr;</a></p>
    </div>    
</body>
</html>