<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata-corp" }}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>  
</head>
<body>
    {{ integration:analytics }}
    
    {{if alcopolis:site_status}}
	    
	    <div id="header">
	    	<div class="wrapper">
	        	{{ theme:partial name="header" }}
	        </div>
	    </div> 
	    
	    <div id="main">
	    	<div class="wrapper">
	        	{{ theme:partial name="content-corp" }}
	        </div>
	    </div> 
	    
	    {{ theme:partial name="footer" }} 
	 
	 {{else}}
	 	
	 	{{ theme:partial name="site_down" }}
	 	
	 {{ endif }}   
</body>
</html>