<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata" }}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'> 
</head>

{{ if page:is_home == true }}
<body id="home">
{{ else }}
<body>
{{ endif }}
    {{ integration:analytics }}
    
    <div id="header">
    	<div class="wrapper clearfix">
        	{{ theme:partial name="header" }}
        </div>
    </div> 
    
    <div id="main-banner" class="orbit-slider" style="width:960px; height:290px; margin:0 auto; padding:0;">
        {{ blog:posts category="promo" order-dir="random" limit="2" }}
            <div style="width:100%; margin:0; padding:0; background:url({{url:base}}uploads/default/files/{{ cover:filename }}) no-repeat center center; background-size:100% auto;">
            	<a href="corporate/{{ slug }}" style="display:block; width:980px; height:300px;" ></a>
            </div>
        {{ /blog:posts }}
        
        {{ pages:children id="6" order-dir="random" limit="5" }}
             <div style="width:100%; margin:0; padding:0; background:url({{url:base}}uploads/default/files/{{ custom_fields }}{{ corp_poster:filename }}{{ /custom_fields }}) no-repeat center center; background-size:100% auto;">
                <a href="corporate/{{ slug }}" style="display:block; width:980px; height:300px;" ></a>
             </div>
        {{ /pages:children }}
    </div> 
        
    
    <div id="main">
        <div id="util" style="background:#EEE; margin:1px 0 0 0">
            {{ if page:is_home == false }}
                <div class="wrapper clearfix">
                    {{ theme:partial name="breadcrumbs" }}
                    <div class="right" style="padding:5px 0 0 0; display:block;">{{ widgets:instance id="3" }}</div>
                </div>
            {{ endif }}
        </div>   
    	<div class="wrapper">
            {{ theme:partial name="content" }}
        </div>
    </div>
    
    {{ if page:is_home == true }}
        <div style="padding:0 0 20px 0; position:relative;">
            <section id="customers" class="wrapper clearfix">
                <h6 style="text-align:left; padding-left:2px; border-left:5px solid #F00; color:#CCC; font-weight:normal; position:relative; top:0px; margin-bottom:10px"><span style="display:block; width:240px;background:#F00; color:#FFF; margin:0; padding:0 10px;">Our Customers</span></h6>
                {{ blog:posts category="customers" }}
        			<img src="uploads/default/files/{{ cover:filename }}" style="width:100px; margin:0; padding:0; border:none;" title="{{ title }}" />
                {{ /blog:posts }}
            </section>
        </div> 
    {{ endif }}
    
    <div id="footer" style="background:#0c223f;">
    	
        <p id="copy" style="text-align:center; padding-top:10px; font-size:11px; color:rgba(255,255,255,.25); border-top:1px solid rgba(255,255,255,.1);">&copy;{{ helper:date format="Y" }} {{ settings:site_name }}. {{ helper:lang line="all_right_reserved" }} <a class="last" href="{{ url:current }}#top" title="{{ helper:lang line="back_to_top" }}">{{ helper:lang line="top_page" }} &uarr;</a></p>
    </div>
    
    <!-- Begin scripts -->
{{ theme:js file="main.js" }}
{{ theme:js file="localscroll.js" }}
{{ theme:js file="scrollto.js" }}
{{ theme:js file="easing.js" }}
{{ theme:js file="global.js" }}
<!-- End scripts -->
</body>
</html>