<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata" }}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'> 
</head>
<body>
    {{ integration:analytics }}
    
    <div id="header">
    	<div class="wrapper clearfix">
        	{{ theme:partial name="header" }}
        </div>
    </div> 
    
    <div id="main-banner" class="orbit-slider" style="width:980px; height:300px; margin:0 auto; padding:0;">
        {{ blog:posts category="main-banner" }}
        	<!--<div><a href="corporate/{{ slug }}"><img src="uploads/default/files/{{ cover:filename }}" style="width:100%; margin:0; padding:0; border:none;" /></a></div>-->
            <div style="width:100%; margin:0; padding:0; background:url({{url:base}}uploads/default/files/{{ cover:filename }}) no-repeat center center; background-size:100% auto;"><a href="corporate/{{ slug }}" style="display:block; width:980px; height:300px;" ></a></div>
        {{ /blog:posts }}
    </div> 
    
    <div id="main">
        <div id="util" style="background:#111; margin:1px 0 0 0">
            {{ if page:is_home == false }}
                <div class="wrapper clearfix">
                    {{ theme:partial name="breadcrumbs" }}
                    <div class="right" style="padding:5px 0">{{ widgets:instance id="3"}}</div>
                </div>
            {{ endif }}
        </div>   
        	
    	<div class="wrapper">
            {{ theme:partial name="content" }}
        </div>
    </div>
    
    {{ if page:is_home == true }}
        <div style="background:#FFF; padding:20px 0; position:relative;">
            <section id="customers" class="wrapper clearfix">
                <h6 style="text-align:center; color:#999; font-weight:normal; background:#000; position:relative; top:-10px;">Our Customers</h6>
                {{ blog:posts category="customers" }}
        			<img src="uploads/default/files/{{ cover:filename }}" style="width:100px; margin:0; padding:0; border:none;" title="{{ title }}" />
                {{ /blog:posts }}
            </section>
        </div> 
    {{ endif }}
    
    <div id="footer" style="background:#0c223f;">
    	<div class="wrapper">
        	{{ theme:partial name="footer" }}
        </div>
        <p id="copy" style="text-align:center; padding-top:10px; font-size:11px; color:rgba(255,255,255,.25); border-top:1px solid rgba(255,255,255,.1);">&copy;{{ helper:date format="Y" }} {{ settings:site_name }}. {{ helper:lang line="all_right_reserved" }}</p>
    </div>
</body>
</html>