<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata" }}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'> 
</head>
<body>
    {{ integration:analytics }}
    
    <div id="header">
    	<div class="wrapper">
        	{{ theme:partial name="header" }}
        </div>
    </div> 
    
    <div id="banner" style="width:100%; height:280px; background:#FFF">
    	<img src="http://www.cepat.net.id/images/xmas-2013.jpg" style="width:100%"/>
    </div>
    
    <div id="main">
    	
        <div id="util" style="background:#FFF; margin:9px 0 0 0">
            {{ if page:is_home == false }}
                <div class="wrapper clearfix">
                    {{ theme:partial name="breadcrumbs" }}
                    <div class="right" style="padding:5px 0">{{ widgets:instance id="3"}}</div>
                </div>
            {{ endif }}
        </div>   
        	
    	<div class="wrapper">
            {{ theme:partial name="content" }}
        </div>
    </div>
    
    {{ if page:is_home == true }}
        <div style="background:#EEE; height:120px;">
                <section id="clients" class="wrapper clearfix">
                    <h6 style="text-align:center; color:#999; font-weight:normal;">Our Customers</h6>
                </section>
        </div> 
    {{ endif }}
    
    <div id="footer" style="background:#0c223f;">
    	<div class="wrapper">
        	{{ theme:partial name="footer" }}
        </div>
        <p id="copy" style="text-align:center; padding-top:10px; font-size:11px; color:rgba(255,255,255,.25); border-top:1px solid rgba(255,255,255,.1);">&copy;{{ helper:date format="Y" }} {{ settings:site_name }}. {{ helper:lang line="all_right_reserved" }}</p>
    </div>    
</body>
</html>