<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata" }}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'> 
</head>

{{ if page:is_home == true }}
<body id="home">
{{ else }}
<body>
{{ endif }}
    {{ integration:analytics }}
        
    {{if alcopolis:site_status}}
    
	    <div id="header">
	    	<div class="wrapper clearfix">
	        	{{ theme:partial name="header" }}
	        </div>
	    </div> 
	    
	    <div id="main-banner" class="orbit-slider" style="width:960px; height:290px; margin:0 auto; padding:0;">        
	        {{ pages:children id="6" order-dir="random" limit="5" }}
	             <div style="width:100%; margin:0; padding:0; background:url({{url:base}}uploads/default/files/{{ custom_fields }}{{ corp_poster:filename }}{{ /custom_fields }}) no-repeat center center; background-size:100% auto;">
	                <a href="corporate/{{ slug }}" style="display:block; width:980px; height:300px;" ></a>
	             </div>
	        {{ /pages:children }}
	    </div> 
	        
	    
	    <div id="main">
	        <div id="util" style="background:#DEDEDE; margin:1px 0 0 0">
	            {{ if page:is_home == false }}
	                <div class="wrapper clearfix">
	                    {{ theme:partial name="breadcrumbs" }}
	                    <div class="right" style="padding:5px 0 0 0; display:block;">{{ widgets:instance id="3" }}</div>
	                </div>
	            {{ endif }}
	        </div>   
	    	<div class="wrapper">
	            {{ theme:partial name="content" }}
	        </div>
	    </div>    
	    
	    {{ theme:partial name="footer" }}
    
    {{ else }}
    
    	{{ theme:partial name="site_down" }}
    	
    {{ endif }}
    
</body>
</html>