<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata-retail" }}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>  
</head>
<body>
    {{ integration:analytics }}
    
    <div id="header">
    	<div class="wrapper">
        	{{ theme:partial name="header" }}
        </div>
    </div> 
    
    {{ if {blog:count_posts category_id="1" > 0} }}
    <div id="banner" style="width:100%; height:280px; background:#FFF">
    	{{ blog:posts category="promo" order-dir="random" limit="3" }}
        	<!--<div><a href="corporate/{{ slug }}"><img src="uploads/default/files/{{ cover:filename }}" style="width:100%; margin:0; padding:0; border:none;" /></a></div>-->
            <div style="width:100%; margin:0; padding:0; background:url({{url:base}}uploads/default/files/{{ cover:filename }}) no-repeat center center; background-size:100% auto;"><a href="corporate/{{ slug }}" style="display:block; width:980px; height:300px;" ></a></div>
        {{ /blog:posts }}
    </div>
    {{ endif }}
    
    <div id="main">
    	<div class="wrapper">
        	{{ theme:partial name="content-retail" }}
        </div>
    </div> 
    
   <div id="footer" style="background:#0c223f;">
    	<div class="wrapper">
        	{{ theme:partial name="footer" }}
        </div>
        <p style="text-align:center">&copy;{{ helper:date format="Y" }} {{ settings:site_name }}. {{ helper:lang line="all_right_reserved" }}</p>
    </div>     
</body>
</html>