<!DOCTYPE html>
<html>
<head>
	{{ theme:partial name="metadata-retail" }}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>  
</head>
<body>
    {{ integration:analytics }}
    
    {{if alcopolis:site_status}}
    
	    <div id="header">
	    	<div class="wrapper">
	        	{{ theme:partial name="header" }}
	        </div>
	    </div> 
	    
	    {{ if {blog:count_posts category_id="6" > 0} }}
	        <div id="main-banner" class="orbit-slider" style="width:960px; height:290px; margin:0 auto; padding:0;">
	            {{ blog:posts category="retail" order-dir="random" limit="5" }}
	                <div style="width:100%; margin:0; padding:0; background:url({{url:base}}uploads/default/files/{{ cover:filename }}) no-repeat center center; background-size:100% auto;">
	                    <a href="{{ slug }}" style="display:block; width:980px; height:300px;" ></a>
	                </div>
	            {{ /blog:posts }}
	        </div>
	    {{ endif }}
	    
	    <div id="main">
	    	 <div id="util" style="background:#DEDEDE; margin:1px 0 0 0">
	            {{ if page:is_home == false }}
	                <div class="wrapper clearfix">
	                    <div class="right" style="padding:5px 0; display:block;">{{ widgets:instance id="6" }}</div>
	                </div>
	            {{ endif }}
	        </div> 
	    	<div class="wrapper">
	        	{{ theme:partial name="content-retail" }}
	        </div>
	    </div> 
	    
	   {{ theme:partial name="footer" }}  
	   
	{{ else }}
    
    	{{ theme:partial name="site_down" }}
    	
    {{ endif }}
</body>
</html>