/* ================================================= Admin form ================================================= */

.input-div{
	margin-bottom: 20px;
}

.input-div input{margin:0}

.input, .input label{margin:0 !important;}

.poster{
	margin-right:20px;
	width:400px; height:400px;
}



table#schedule{width:400px;}

h1#sh-title{
	font-size:2.5em;
	line-height:.75em !important;	
}

span#ch{
	font-weight:400;
	font-size:16px;
	margin:0; padding:0;
	color:#999;
}






/* ====================================================== Frontend Show Page ======================================================= */

#sch-util{
	width:100%;
	margin:20px 0;
}

#sch-input{
	background:#EFEFEF;
}

#sch-input #today{float:left; margin:0; width:180px; padding:0 !important;}
.filter{float:left; min-width:80px !important; max-width:200px !important; background:#FF0; padding:10px;}

.filter input, .filter textarea, .filter select{
    border: 1px solid #DDDDDD;
    border-radius: 3px;
	background:#FFF;
    color: #333333;
    font-family: "Arial",Helvetica,Tahoma,sans-serif;
    font-size: 12px;
    padding: 8px 10px !important;
}

.filter select#cid{width:180px !important;}
.filter input#date{width:80px !important; margin:0;}
.filter input[type="submit"]{margin:0;}

