@import '../reset.css';
@import '../typo.css';
@import '../global.css';

#full-content{padding:20px 0 0 0}

section.post{background:none; padding:0;}
section.post img{border:none; width:100%;}
img.alignment-left{float:left; width:auto;}