<!-- Begin footer -->

<footer style="background:#0c223f;">
    <p id="copy" style="text-align:center; margin:0 0 0 0; padding:10px 0 0 0; font-size:12px; color:rgba(255,255,255,1);">&copy;{{ helper:date format="Y" }} {{ settings:site_name }}. {{ helper:lang line="all_right_reserved" }} <a class="last" href="{{ url:current }}#top" title="{{ helper:lang line="back_to_top" }}">{{ helper:lang line="top_page" }} &uarr;</a></p>
	<p style="text-align:center; margin:0 0 0 0; padding:0 0 10px 0; font-size:12px; color:rgba(255,255,255,1);">Grha 9 Building Jl. Panataran No 9, Proklamasi, Jakarta 10320 Phone: +62-21-31998600 Fax: +62-21-3160897</p>
    {elapsed_time}
</footer>

<!-- End footer -->
<!-- Begin scripts -->
{{ theme:js file="main.js" }}
{{ theme:js file="localscroll.js" }}
{{ theme:js file="scrollto.js" }}
{{ theme:js file="easing.js" }}
{{ theme:js file="global.js" }}
<!-- End scripts -->