<aside style="margin-top:50px; padding:10px; width:200px; background:#EEE; border-radius:0px;">    
	
    {{ if page:is_home == false }}
		{{ widgets:area slug="sidebar" }}
    {{ endif }}
    
    <div id="quicklink" class="side-group">
		<ul>
			<li style="list-style:none;"><a href="epg" title="Homelinks TV Guide"><img src="{{theme:image_path}}/jadwal-tv.png" style="width:100%; border-radius:5px;" /></a></li>
            <li style="list-style:none;"><a href="register" title="Register"><img src="{{theme:image_path}}/register.png" style="width:100%; border-radius:5px;" /></a></li>
            <li style="list-style:none;"><a href="http://selfcare.cepat.net.id" title="Web Selfcare"><img src="{{theme:image_path}}/selfcare.png" style="width:100%; border-radius:5px;" /></a></li>
		</ul>
	</div>
    <div id="ads" class="side-group" style="margin:20px 0">
		<ul>
			<li style="list-style:none;"><img src="http://cepat.net.id/images/promo-mgm-banner.jpg" style="width:100%" /></li>
		</ul>
	</div>
</aside>